@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Instrument+Serif&display=swap');

html {
    scroll-behavior: smooth;
}


* {
box-sizing:border-box;
}


body {

margin:0;

background:#f7f5f2;

color:#1d1d1d;

font-family:Inter, Arial, sans-serif;

}



header {

position:fixed;

top:0;

width:100%;

padding:18px 35px;

background:rgba(247,245,242,0.9);

z-index:10;

}



nav {

display:flex;

justify-content:space-between;

 align-items:center;

}



.logo img {

    width: 60px;
    height: auto;
    display: block;

}


.logo:hover {

    opacity: 0.6;

}


.nav-links a {

    margin-left:35px;

    text-decoration:none;

    color:#1d1d1d;

    transition: opacity 0.3s ease;

}


.nav-links a:hover {

    opacity:0.5;

}



main {

padding:80px 60px;

}



.hero {

padding-top:30px;

position:relative;
z-index:2;

}


.hero-title {

text-align:center;

margin-bottom:35px;

}

.hero-title h1 {

    margin-bottom:15px;

}


.hero-title .subtitle {

    margin-top:0;

}

.hero-image {

    width:100%;
    height:75vh;
    overflow:hidden;
    flex:1;
    
    border-radius:12px;
    border:4px solid #5b5757;
 box-shadow:
    0 50px 50px rgba(0,0,0,0.18),
    0 0 0 1px rgba(255,255,255,0.2);

}


.hero-image img {

    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center 20%;


}

.slider {

    position:relative;
    width:38%;
    height:400px;
    overflow:hidden;

    background:#0d0c0b;

    border-radius:12px;

}


.slide {

    width:100%;
    height:100%;
    object-fit:contain;
    display:none;

   
    border-radius:12px;
    
    
}

.slide.active {

    display:block;

}


.slider button {

    position:absolute;
    top:50%;
    transform:translateY(-50%);

    width:45px;
    height:45px;

    border:none;
    border-radius:50%;

    background:rgba(255,255,255,0.18);

    cursor:pointer;

    display:flex;
    align-items:center;
    justify-content:center;

    opacity:0.85;

    transition:transform 0.3s ease, opacity 0.3s ease;

}


.slider button svg {

    width:34px;
    height:34px;

    fill:none;

    stroke:white;

    stroke-width:2;

    stroke-linecap:round;

    stroke-linejoin:round;

}


.slider button:hover {

    transform:translateY(-50%) scale(1.15);

    opacity:1;

}


.prev {

    left:20px;

}


.next {

    right:20px;

}





h1 {

font-family:"Instrument Serif", serif;

font-size:130px;

line-height:0.9;

font-weight:400;

margin:0;

}


.subtitle {

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;

}




.placeholder {

height:500px;

background:#ddd8d2;

display:flex;

align-items:center;

justify-content:center;

}


.project-preview .placeholder {

    width:50%;

    height:500px;

}


section {

padding:80px 0;
scroll-margin-top:100px;

}


.work-wrapper {

    position:relative;

}


.work-wrapper::before {

    
    z-index:0;

    content:"";

    position:absolute;

    top:-80px;

    left:-700px;

    width:calc(100% + 400px);

    height:180px;

    background:#161412;

    clip-path:polygon(
        0 0,
        100% 100%,
        100% 100%,
        0 100%
    );

}


.work-preview {


    position:relative;

    z-index:1;

    isolation:isolate;

    background:#161412;

    color:#f7f5f2;

    margin: -40px -60px 0;

    padding: 70px 60px 100px;

    clip-path: polygon(
        0 100px,
        100% 0,
        100% 100%,
        0 100%
    );

}




.work-preview h2,
.work-preview h3,
.work-preview p {

    color:#f7f5f2;

}

.work-preview h2 {

    font-size:50px;

    margin-top:30px;

    margin-bottom:100px;

    margin-left:70px;

}





.project-preview {

display:flex;

gap:60px;

margin-bottom:100px;

align-items:center;

}


/* project separators */

.project-preview + .project-preview {

    position:relative;

    padding-top:100px;

}


.project-preview + .project-preview::before {

    content:"";

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:2px;

    background:rgba(247,245,242,0.4);

    border-radius:20px;

}


.technical-grid {

display:flex;

gap:80px;

}



.technical-grid div {

flex:1;

}



footer {

padding:80px 60px;

border-top:1px solid #ddd8d2;

}





.work-preview h2,
.work-preview .project-preview {
    position: relative;
    z-index: 2;
}

@media (max-width: 1100px) {

    .project-preview {

        flex-direction:column;

        gap:30px;

        align-items:center;

    }


    .slider {

        width:90%;

        height:450px;

    }

    .project-preview h3 {

        font-size:32px;

    }


    .project-preview p {

        font-size:18px;

        max-width:500px;

    }

}

@media (max-width: 768px) {


header {

    padding:15px 20px;

}


.logo img {

    width:45px;

}


.nav-links a {

    margin-left:15px;
    font-size:14px;

}


main {

    padding:90px 20px;

}


.hero {

    padding-top:20px;

}


h1 {

    font-size:70px;

}


.subtitle {

    font-size:14px;
    letter-spacing:0.5px;

}


.hero-image {

    height:55vh;

}


.hero-title {

    margin-bottom:30px;

}


/* Projects */

.project-preview {

    flex-direction:column;

    gap:0px;

    margin-bottom:50px;

}

.slider {

    width:100%;
    height:400px;

    margin-bottom:0px;
}


.project-preview .placeholder {

    width:100%;
    height:400px;

}


/* Technical section */

.technical-grid {

    flex-direction:column;

    gap:30px;

}


section {

    padding:50px 0;

}

.work-preview {

    margin:-40px -20px 0;

    padding:80px 20px 60px;

    clip-path: polygon(
    0 60px,
    100% 0,
    100% 100%,
    0 100%
);

}

.work-preview h2 {

    text-align:center;

    width:100%;

    font-size:35px;

    margin:0px 0 25px 0;

}

.work-wrapper::before {

    top:-50px;

    left:-90px;

    width:calc(100% + 100px);

    height:100px;

}

.project-preview + .project-preview {

    padding-top:60px;

}

}